.bg {
    background-image: url("/background.png");
    background-size: cover; 
    background-repeat: no-repeat;
    color: white;
    min-height: 760px;
}

.bg h1 {
    font-size: 32px;
    text-align: center;
    padding: 30px;
}

.content {
    width: 70%;
    margin: 0 auto;
    min-height: 600px;
    background-color: #d8e987;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    