body {
    background-color: #94BFA7;
    color: #2F2F2F;
}
.name {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    transition: all 1s ease-in-out;
}
.name:hover {
    background-color: aqua;
}

.container {
    width: 70%;
    margin: 0 auto;
}
.about {
    display: flex;
    gap: 25px   ;
    align-items: center;
    position: relative;
}
.about::before {
    content: "";    
    width: 100px;
    height: 100px;
    background-color: brown;
    top: 0;
    left: 0;
    border-radius: 50%;
    position: absolute;
}
.avatar {
    border-radius: 24pt;
    max-width: 300px;

    box-shadow: 5px 5px 15px black;
}
table tr{
    transition: all 0.5s ease-in-out;
}
table tr:hover {
    background-color: aqua;
}

.slider{
    position: relative;
    max-width: 300px;
    color: #fff;
}

.slide {
    display: none;
    text-align: center;
}

.slide.active {
    display: block;
}
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.prev{
    left: 0px;
}

.next{
    right: 0px;
}

