.emptycard{
    position: relative;  
    width: 310px;
    height: 500px;
    border: 1px solid black;
    background-color: #B0CA30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    width: 100px;
    height: 100px;
}
