.content {
    padding-top: 15px;
    width: 85%;
    margin: 0 auto;
}

.face {
    height: 680px;
    display: flex;
    
    margin-top: 30px;
}
    .promo{
        padding-top: 50px;
        width: 50%;
        color: white;
    }
        .promo h1{
            font-size: 86px;
            font-weight: 700;
        }
        .promo h2{
            font-size: 42px;
            font-weight: 400;
        }

    .faceimage {
        width: 50%;
        height: 600px;
    }
        .faceimage .item {
            float: right;
        }
        
.recommendations {
    height: auto;
}
    .recommendations h1 {
        font-size: 32px;
        color: white;
        font-weight: 750;
    }
    .recommendations hr{
        float: right;
        border-radius: 2em;
        margin-bottom: 15px;
      }
    .reccontent {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }